In [ ]:
import zipfile
import os
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [ ]:
download_uri = 'https://www.ncei.noaa.gov/data/local-climatological-data/access/2021/'

In [ ]:
r = requests.get(download_uri)
soup = BeautifulSoup(r.text)

In [ ]:
allTDs = soup.find_all('td')

In [51]:
fileName = ''
for td in allTDs:
    if td.text == '2022-02-07 14:03  ':
        filename = td.find_previous_sibling('td').text
        break

In [62]:
pathFileDownload = download_uri + filename
print(pathFileDownload)

https://www.ncei.noaa.gov/data/local-climatological-data/access/2021/01011099999.csv

In [56]:
dataframe = pd.read_csv(pathFileDownload)

In [71]:
dfOrdered = dataframe.sort_values(by=['HourlyDryBulbTemperature'], ascending=False)
print(dfOrdered)

,STATION,DATE,LATITUDE,LONGITUDE,ELEVATION,NAME,REPORT_TYPE,SOURCE,HourlyAltimeterSetting,HourlyDewPointTemperature,...,BackupDirection,BackupDistance,BackupDistanceUnit,BackupElements,BackupElevation,BackupEquipment,BackupLatitude,BackupLongitude,BackupName,WindEquipmentChangeDate
180,1011099999,2021-08-11T22:00:00,80.066667,31.5,10.0,"KVITOYA, SV",FM-12,4,NaN,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165,1011099999,2021-07-16T03:00:00,80.066667,31.5,10.0,"KVITOYA, SV",FM-12,4,NaN,35.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,1011099999,2021-08-10T14:00:00,80.066667,31.5,10.0,"KVITOYA, SV",FM-12,4,NaN,38.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175,1011099999,2021-08-03T10:00:00,80.066667,31.5,10.0,"KVITOYA, SV",FM-12,4,NaN,37.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161,1011099999,2021-07-15T20:00:00,80.066667,31.5,10.0,"KVITOYA, SV",FM-12,4,NaN,35.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47,1011099999,2021-01-31T07:00:00,80.066667,31.5,10.0,"KVITOYA, SV",FM-12,4,NaN,-15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,1011099999,2021-03-05T12:00:00,80.066667,31.5,10.0,"KVITOYA, SV",FM-12,4,NaN,-15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,1011099999,2021-03-12T08:00:00,80.066667,31.5,10.0,"KVITOYA, SV",FM-12,4,NaN,-16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,1011099999,2021-03-12T07:00:00,80.066667,31.5,10.0,"KVITOYA, SV",FM-12,4,NaN,-19.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,1011099999,2021-03-13T21:00:00,80.066667,31.5,10.0,"KVITOYA, SV",FM-12,4,NaN,-26.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN